<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dragon.mapper.word.FolderMapper">


<select id="getList" resultType="org.dragon.domain.word.FolderVO">
<![CDATA[
select * from folder where folderId > 0
]]>
</select>

<insert id="insert">
	insert into folder (folderId, folderTitle, description, link)
	values (seq_folder.nextval, #{folderTitle}, #{description}, #{link})
</insert>

<insert id="insertSelectKey">

	<selectKey keyProperty="folderId" order="BEFORE" resultType="long">
		select seq_folder.nextval from dual
	</selectKey>
	
	insert into folder (folderId,folderTitle,description,link, userId)
	values (#{folderId}, #{folderTitle}, #{description}, to_char(#{folderId}), #{userId})
</insert>

<select id="read" resultType="org.dragon.domain.word.FolderVO">
	select * from folder where folderId = #{folderId}
</select>

<delete id="delete">
	delete from folder where folderId = #{folderId}
</delete>

<update id="update">
	update folder
	set folderTitle= #{folderTitle},
	description= #{description}
	where folderId = #{folderId}
</update>

<sql id="criteria">

	<if test="userId != null">
		userId = #{userId}
	</if>
	<trim prefixOverrides="and">
		rownum = 1
	</trim>

</sql>

<select id="getListWithPaging" resultType="org.dragon.domain.word.FolderVO">
	<![CDATA[
		select
			folderId, folderTitle, userId
		from
			(
				select /*+INDEX_DESC(folder pk_folder)*/
					rownum rn, folderId, folderTitle, userId
				from
					folder
				where 
		]]>
		
		<include refid="criteria"></include>
		
			<![CDATA[
			or rownum <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum}-1) * #{amount}	
			]]>	
</select>

<select id="getTotalCount" resultType="int">
	select count(*) from folder where 
	<include refid="criteria"></include>
	and folderId > 0
</select>
</mapper>