@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

blockquote, body, button, code, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

div {
	display: block;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
    padding: 2px;
}

textarea::placeholder {
  color: #939bb4;
}

h1 { font-size: 2em; }

.StudiableItemToolbar-upDowm {
	width: 10px;
}
.TermContent {
	width: 100%;
}

.TermRows div  { 
  font-family: FontAwesome;
  font-size: 0.5em;
  letter-spacing: 10px;

}

ul .up, ul .down { float: left; }
ul .up:before { content: "\f077"; }
ul .down:before { content: "\f078"; }

.HomeLayout-main {
	width: 985px;
	display: table-cell;
    vertical-align: top;
}

.wordForm {

	background: #f6f7fb;
}

.CreateSetHeader {

    background: #fff;
    overflow: visible;
    padding: 1.5rem 0 2rem;
    position: relative;
}

.CreateSetHeader-stickyPlaceholder {
    height: 4rem;
    margin-bottom: 2rem;
    position: relative;
}

.CreateSetHeader-sticky {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 4rem;
    transform: translateZ(0);
}

.UIContainer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 81.25em;
    padding: 0 2.5rem;
}

.CreateSetHeader-heading {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* display: -webkit-flex; */
    display: flex;
    height: 4rem;
}

.CreateSetHeader-headingText {
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
}

.CreateSetHeader-infoButtonWrap {
    margin-left: auto;
    white-space: nowrap;
}

.CreateSetPage-container {
	
}

.UIButton, .UIButton:visited, html.touch .UIButton:focus:hover:not(:active) {
    background-color: #3ccfcf;
    color: #fff;
}

.UIButton {
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    max-width: 100%;
    padding: .75rem 1.5rem;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.285714285714286;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
    width: auto;
}

.UIButton-wrapper {
    -ms-flex-align: center;
    /* -webkit-align-items: center; */
    align-items: center;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-pack: center;
    /* -webkit-justify-content: center; */
    justify-content: center;
    width: 100%;
}




.UITextarea-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: initial;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: var(--ui_color_gray_20);
    cursor: text;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    outline: none;
    overflow: hidden;
    padding-bottom: .375rem;
    text-align: inherit;
    width: 100%;
    word-break: break-word;
}

.AutoExpandTextarea-textarea {
    height: 30px;
    width: 100%;
    background: transparent;
    border: none;
    color: inherit;
    cursor: inherit;
    display: block;
    font: inherit;
    line-height: inherit;
    outline: none;
    overflow: hidden;
    resize: none;
    text-shadow: inherit;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-size: 15px;
}

.UITextarea-label {
	margin-top: 3px;
    color: #939bb4;
    display: block;
    font-size: 12px;
}




.StudiableItems {
	padding: 20px 0;
    background: #f6f7fb;
    margin-top: 40px;
}

.TermRows {
	width: 600px;
	padding: 0;
    /* margin: 0 auto; */
    list-style-type: none;
    cursor: move;
    /* margin: 0 3px 3px 3px; */
    padding: 0 2.5rem;
    font-size: 1.25em;
    height: 100%;
    /* border: 1px solid #d3d3d3; */
    /* background: #f6f7fb; */
}








.TermRows li {
    background: #fff;
    border-radius: .5rem;
    margin-bottom: 10px;
    padding-left: 10px;
}

.TermRows li:last-child {
	margin: 0;
}





















.word, .meaning {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #303545;
}

.word:focus, .meaning:focus {
	animation-name: border-focus;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	cursor: pointer;
}

@keyframes border-focus {
	from {
	}
	to {
	border-bottom: 3px solid #ffcd1f;
	}
}






 
 .ItemType {
 	display: flex;
    margin: 0 0 0 24px;
    width: auto;
    font-size: 12px;
    color: #939bb4;
    width: 100%;
 }
 .RichTextEditor-labelText {
 	margin: 0 0 0 173px;
 }
 
 .CreateSetPage-publishButton {
 margin: 20px 2.5rem;
 }
 
 
.UITextarea-border {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-item-align: end;
    display: block;
    height: .25rem;
    box-shadow: 0 0.125rem 0 0 #303545;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
    width: 100%;
}


.UIButton--borderless[aria-disabled=true], .UIButton--borderless[aria-disabled=true]:active, .UIButton--borderless[aria-disabled=true]:focus, .UIButton--borderless[aria-disabled=true]:visited, .UIButton--borderless[disabled], .UIButton--borderless[disabled]:active, .UIButton--borderless[disabled]:focus, .UIButton--borderless[disabled]:visited, html.cursor .UIButton--borderless[aria-disabled=true]:hover, html.cursor .UIButton--borderless[disabled]:hover {
    background-color: initial;
    color: var(--ui_color_disabled);
}

.UIButton--borderless, .UIButton--borderless:visited, html.touch .UIButton--borderless:focus:hover:not(:active) {
    background-color: initial;
    color: #303545;
}