@charset "UTF-8";

.mainContents-header {
	padding-top: 4rem;	
}

.mainContents-header span {
	padding: 0 0.5rem;	
	font-size: 2.5rem;
	font-weight: 550;
	color: #303545;
}
.mainContents-searchFeed {
  padding: 1.5rem 0;
}

.searchFeed-header {
	padding: 1rem 0;
}

.mainContents-searchFeed .searchFeed-cards {
  display: flex;
  position: relative;
  flex-direction:row;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.searchFeed-cardItem {
	display: none;
  width: 400px;
  height: 70px;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  margin: 10px;
  position:relative;
  box-shadow: 0 2px 3px 0 #e9e9e9;
}

.searchFeed-cardItem-large {
	display: none;
  width: 500px;
  height: 130px;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  margin: 10px;
  position:relative;
  box-shadow: 0 2px 3px 0 #e9e9e9;
}

.searchFeed-cardItem:hover, .searchFeed-cardItem-large:hover {
  border: 1px solid #ffde7d;
  box-shadow: 0 2px 3px 0 #ffd966;
}

.searchFeed-cardItem-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.searchFeed-cardItem-inner .wordCardInfo {
	display: flex;
  flex-direction: row;
  padding: 1.5rem 1.25rem;
}

.searchFeed-cardItem-inner .wordList {
	display: flex;
  flex-direction: row;
	border-top: 1px solid #f1f1f1;
}


.wordCardInfo .wordTitle {	
	text-align: left;	
	font-size: 1.8rem;
	font-weight: 550;
}

.wordCardInfo .userId {
	padding: 4px 5px 5px;	
	color: #3ccfcf;
}

.wordCardInfo .wordListNum {
	position: absolute;
	right: 0.7rem;
}

.wordList-word {
	width: 25%;
	height: 100%;
	padding: 1rem;  	
}

.colorGray {
	color: #d3d3d3;
	padding-left: 4px;
}


/* linkBox */
.searchFeed-cardItem-LinkBox {
	width: 400px;
  height: 70px;
  /* border: 1px solid black; */
  border-radius: 6px;
  position: absolute;
  z-index:20;
  top : 0;
  left: 0;
}

.searchFeed-cardItem-LinkBox-large {
	width: 500px;
  height: 130px;
  border-radius: 6px;
  position: absolute;
  z-index:20;
  top : 0;
  left: 0;
}

.searchFeed-cardItem-LinkBox a, .searchFeed-cardItem-LinkBox-large a {
	position: absolute;
	display: inherit;
	width: 100%;
	height: 100%;	
	top : 0;
  left: 0;
}
	
